/* Write your CSS here */
.listCon {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.para {
  color: #475569;
  font-size: 15px;
  font-family: 'Roboto';
}
.arrowImage {
  height: 20px;
  width: 20px;
}
